version: '3.8'

services:
  web:
    build: .
    container_name: get_price_web
    restart: unless-stopped
    ports:
      - "8001:8000"
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=rexgold_redis_1
      - DOCKER_ENV=1
    networks:
      - rexgold_app_network

  celery:
    build: .
    container_name: get_price_celery
    command: celery -A get_price_project.celery worker --loglevel=info
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=rexgold_redis_1
      - DOCKER_ENV=1
    depends_on:
      - web
    networks:
      - rexgold_app_network

  celery_beat:
    build: .
    container_name: get_price_celery_beat
    command: celery -A get_price_project.celery beat --loglevel=info
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=rexgold_redis_1
      - DOCKER_ENV=1
    depends_on:
      - web
    networks:
      - rexgold_app_network

networks:
  rexgold_app_network:
    external: true