# /media/mohammad/project/get_price_rexgold/get_price_project/docker-compose.yml
version: '3.9'        # این خط رو می‌تونی حذف کنی یا نگه داری (هشدار فقط)

services:
  web:
    build: .
    container_name: get_price_web
    restart: unless-stopped
    ports:
      - "8001:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - DOCKER_ENV=1
    networks:
      - redis_net
    # ← depends_on حذف شد! چون ردیس‌ها در فایل دیگه هستن

  celery:
    build: .
    container_name: get_price_celery_worker
    command: celery -A get_price_project.celery worker --loglevel=info --concurrency=4
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - DOCKER_ENV=1
    networks:
      - redis_net
    # depends_on حذف شد

  celery-beat:
    build: .
    container_name: get_price_celery_beat
    command: celery -A get_price_project.celery beat --loglevel=info
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - DOCKER_ENV=1
    networks:
      - redis_net
    # depends_on حذف شد

networks:
  redis_net:
    name: redis_backend_network
    external: true